In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 

from sklearn import linear_model
from warnings import filterwarnings
filterwarnings("ignore")

In [17]:
df=pd.read_csv("multilinearregression.csv", sep=";")
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [ ]:
#Note! here  ; alan="Area" ,  odasayisi="Number of Rooms"  , binayasi="Age of House"  , fiyat="Price" represents

In [18]:
df[["alan", "odasayisi", "binayasi"]]
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [20]:
df["fiyat"]

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: fiyat, dtype: int64

In [40]:
reg=linear_model.LinearRegression()
reg.fit (df[["alan", "odasayisi", "binayasi"]], df["fiyat"])

LinearRegression()

In [41]:
reg.predict([[180,5,10]])

array([494187.18386922])

In [42]:
reg.predict([[230, 4, 10]])

array([530243.29284619])

In [43]:
reg.predict([[230,4,10], [230,6,0], [355,3,20]])

array([530243.29284619, 586097.7833456 , 616657.45791365])

In [44]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [45]:
reg.intercept_

262365.1503032055

In [49]:
# let's write multiple linear regression formula 
# y=a+ (b1*x1) + (b2 *x2) *(b3*x3)+ ..... 

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a + b1*x1 + b2*x2 + b3*x3

y

530243.2928461881